body {
    margin: 0;
    background-color: black;
    color: white;
}

.hero-banner {
    background-color: black;
    height: 100vh;
    width: 100%;
    z-index: 1;
}

.hero-banner h1 {
    position: absolute;
    color: #95FFFE;
    font-family: "Open Sans";
    font-size: 100px;
    margin-left: 80px;
    margin-top: 300px;
    animation: fade-in 11s ease;
    transition: 1s ease;
}

header h1 {
    color: #f90388;
    font-family: "Open Sans";
    font-size: 30px;
    text-align: center;
    animation: fade-in 11s ease;
    transition: 1s ease;
}

nav {
    position: fixed;
    top:0;
    right: 0;
    font-family: "Open Sans";
    margin-top: 60vh;
    margin-right: 50px;
    padding: 30px;
    z-index: 3;
}

nav a {
    color: #95FFFE;
    transition: 0.5s;
    animation: fade-in 5s ease-in;
    font-size: 20px;
}

nav a:hover {
    color: #08c3e6;
    margin-left: 5px;
}

@font-face {
    font-family: "Open Sans";
    src: url("fonts/Open_Sans/OpenSans-Regular.ttf");
}

@keyframes fade-in {
    0% { opacity: 0; }
    100 { opacity: 1; }
}

}