body {
    margin: 0;
    background-color: #95FFFE;
}

.title {
    top: 0;
    height: 100px;
    background-color: black;
}

.title h1 {
    text-align: center;
    color: #95FFFE;
    font-family: "Open Sans";
}

.menu_bar ul {
    width: 100%;
    top: 100px;
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00ccc9;
}

.menu_bar li {
    float: left;
}

.menu_bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu_bar li a:hover:not(.active) {
    background-color: #009996;
}

.active {
    background-color: #009996;
}